/*Colour Palette
*/

/* Fonts */
@import url('');

/* Global Styles */
/* Variables */
:root {
  --primary-font:"";
  --secondary-font:"";
  --primary-color: #;
  --secondary-color: #;
  --highlight-color: #;
  --highlight-color-light: #;
  --background-color: #;
}

/* Navigation */

/* Header */

/* Main Content */

/* Footer */
