/*Colour Palette
*/

/* Fonts */
@import url('');

/* Global Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Buttons */
/* Add */
.cstm-btn-add {
  border: outset 3px rgba(255, 255, 255, 50%);
  background-color: rgba(255, 255, 255, 20%);
  color: white;
  transition: all 0.1s ease-in-out;
}
.cstm-btn-add:hover{
  background-color: rgba(255, 255, 255, 35%);
  transform: translateY(-1px);
}
.cstm-btn-add:active{
  border: inset 3px rgba(255, 255, 255, 50%);
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: white;
  transform: translateY(1px);
}
.cstm-btn-add:disabled {
  background-color: rgba(128, 128, 128, 30%) !important;
  color: rgba(255, 255, 255, 40%) !important;
  border: outset 3px rgba(128, 128, 128, 30%) !important;
  cursor: not-allowed !important;
  transform: none !important;
  opacity: 0.5;
}
.cstm-btn-add:disabled:hover {
  background-color: rgba(128, 128, 128, 30%) !important;
  color: rgba(255, 255, 255, 40%) !important;
  transform: none !important;
}
/* Remove */
.cstm-btn-remove {
  border: outset 3px lightpink;
  background-color: rgba(255, 182, 193, 20%);
  color: lightpink;
  transition: all 0.1s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cstm-btn-remove:hover{
  background-color: rgba(255, 182, 193, 35%);
  transform: translateY(-1px);
}
.cstm-btn-remove:active{
  border: inset 3px lightpink;
  background-color: rgba(255, 182, 193, 0.8) !important;
  color: lightpink;
  transform: translateY(1px);
}
/* Header */
header {
  background-color: darkslategray;
  border-bottom: outset 2px rgba(47, 79, 79, 20%);
}
/* Main Content */
main{
  flex: 1;
  display: flex;
  flex-direction: column;
}
#user-container {
  margin-top: 0;
  background-color: lightslategray;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#user-container input{
  max-width: 80%;
  border: inset 2px rgba(47, 79, 79, 60%)
}
#user-container input:focus {
  outline: none;
}
#item-container {
  border: inset 0.4rem rgba(119, 136, 153, 62%);
  color: black;
  flex: 1;
}

/* Footer */
